body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 12em;
}

.text {
  font-size: larger;
  height: 2.5em;
  max-width: 11em;
  background-color: #ccc;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  margin-bottom: 0.5em;
  padding: 10px;
  overflow: hidden;
  overflow-anchor: none;;
}

@keyframes cursor {
    0% {
        background: none;
        color: #000;
    }

    100% {
        background-color: #000;
        color: #fff;
    }
}

.text::after {
    content: attr(data-end);
    animation: cursor 1.5s infinite steps(2, jump-none) forwards;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.opts {
    margin-top: 1em;
    text-align: center;
}

.slider {
    display: flex;
    justify-content: center;
}

.slider > input {
    width: 60%;
}

.slider > span {
    text-align: left;
    width: 40%;
}
